@import '/node_modules/@pnotify/core/dist/PNotify.css';
@import '/node_modules/@pnotify/mobile/dist/PNotifyMobile.css';
@import '/node_modules/@pnotify/core/dist/Material.css';
/* @import '/node_modules/material-design-icons/iconfont/material-icons.css'; */

.body {
  background-color: blueviolet;
}
.search {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 26px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 120px;
}
.country-name {
  text-align: center;
  font-size: 72px;
}
.country-list {
  width: 400px;
  margin: 0 auto;
}
.country-properties {
  margin-right: 30px;
}
.country-property {
  font-size: 26px;
  font-weight: 700;
}
