@import '../node_modules/material-design-icons/iconfont/material-icons.css';
@import '../node_modules/@pnotify/core/dist/PNotify.css';
@import '../node_modules/@pnotify/mobile/dist/PNotifyMobile.css';
@import '../node_modules/@pnotify/core/dist/Material.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.search {
  display: block;
  margin: 0 auto;
  width: 360px;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  font-size: 28px;
  margin-bottom: 20px;
}

.search-results {
  font-size: 20px;
}

.body {
  padding: 30px 0;
  width: 100%;
  background-image: url(./image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.country-name {
  font-size: 40px;
  text-align: center;
}

.country-list {
  width: 400px;
  margin: 0 auto;
}

.country-properties {
  margin-right: 30px;
}

.country-property {
  font-size: 24px;
  font-weight: 700;
}
